/*#636365 light gray (main background color)
#49484a darker gray (card color)*/

/*
$base-color: #936897;
$card-color: #49484a;
$form-color: #768389;
$view-color: #ffef00;

*/

html, body {
    color: white;
    background-color: #c3653c;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(30deg, #c3653c 50%, #ff5400 50%);
}

.navbarLog {
    background-color: #c3653c;
}

.navbarMain {
    background-color: #c3653c;
    color: white;
}

.card-body {
    color: white;
    background-color: #6f7890;
}

.card {
    background-color: #49484a;
}

.list-group-item {
    background-color: #768389;
    color: white;
}

.form-control {
    background-color: white;
    color: white;
}

.eyeBtn {
    background-color: #ffef00;
}

.scroll {
    max-height: 450px;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    visibility: hidden;
}


/*IMAGES*/
.logo {
    height: 208px;
    width: 208px;
}

.arrow {
    height: 200px;
    width: 450px;
}

.poster {
    height: 215px;
    width: 145px;
}

.movie-info {
    display: flex;
    align-items: center;
}

.searchPoster {
    max-width: 100px; 
    margin-right: 10px; 
}

.movie-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 

.modalContent {
    background-color: #49484a;
}

.autoComplete {
    position: fixed;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}

.autoComplete::-webkit-scrollbar {
    visibility: hidden;
}


.formsReg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*FOOTER*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-logo{
    height: 28px;
    width: 28px;
}