/*#636365 light gray (main background color)
#49484a darker gray (card color)*/

/*
$base-color: #c3653c;
$card-color: #49484a;
$form-color: #768389;
$view-color: #ffef00;

*/

/*let the BODIES hit the floor*/

body.avoid {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(210deg, #c3653c 30%, pink 70%);
}

body.register {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(170deg, #c3653c 30%, pink 70%);
}

body.search {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(320deg, #c3653c 30%, pink 70%);
}

body.discover {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(160deg, #c3653c 30%, red 70%);
}

body.review {
    color: white;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(110deg, #c3653c 30%, pink 70%);
}

body.watchlist {
    color: white;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(60deg, #c3653c 30%, pink 70%);
}

body.index {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(30deg, #c3653c 30%, pink 70%);
}

body.login {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(140deg, #c3653c 30%, pink 70%);
}

.navbarLog {
    background-color: #c3653c;
}

.navbarMain {
    background-color: #c3653c;
    color: white;
}

.card-body {
    color: black;
    background-color: white;
    border-radius: 24px;
}

.card {
    border-radius: 24px;
}

.search-content-card {
    border-radius: 10px;
    background-color: cornsilk;
}

.list-group-item {
    background-color: #768389;
    color: white;
}

.eyeBtn {
    background-color: #ffef00;
}

.scroll {
    max-height: 450px;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    visibility: hidden;
}


/*IMAGES*/

.carosuel {
    height: 320px;
    width: 210px;
}
.logo {
    height: 208px;
    width: 208px;
}

.arrow {
    height: 200px;
    width: 450px;
}

.poster {
    height: 215px;
    width: 145px;
}

.movie-info {
    display: flex;
    align-items: center;
}

.searchPoster {
    max-width: 60px;
    margin-right: 10px;
}

.movie-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modalContent {
    background-color: white;
}

.autoComplete {
    position: fixed;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}

.autoComplete::-webkit-scrollbar {
    visibility: hidden;
}


.formsReg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-list {
    color: black;
    background-color: white;
}

.slide-enter-active, .slide-leave-active {
    transition: transform 0.5s ease;
}

.slide-enter, .slide-leave-to {
    transform: translateX(100%);
}

.nav-item{
    padding-right: 8px;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    height: 144px;
    width: 177px;
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.random-title {
    color: black;
    text-decoration: none;
}

.caret-icon {
    transition: transform 0.3s ease; 
}

.caret-icon.down {
    transform: rotate(90deg);
}

.button-list{
    padding-right: 32px;
}

.index-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.header-logo{
    height: 48px;
    width: 48px;
}

.header-left{
    display: grid;
}