@page
@model LoginModel


<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/vue3.js"></script>
<script src="/lib/axios.min.js"></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<link href="/lib/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/Index.min.css">

<body class="login">

    <h1>@ViewData["Title"]</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <section>
                    <form id="account" method="post">
                        <h2>Log into Couch Potato!</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-2"> 
                            <input asp-for="Input.Email" placeholder="Email" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <input asp-for="Input.Password" placeholder=" Password" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <button id="login-submit" type="submit" class="w-60 btn btn-lg btn-dark">Log in</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
