@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ProjectCouchPotatoV1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/vue3.js"></script>
<script src="/lib/axios.min.js"></script>
<script type="text/javascript" src="/js/Index.js" defer></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<link href="/lib/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/Index.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body class="index">
    <div id="app">

        @if (SignInManager.IsSignedIn(User))
        {
            <div v-show="loaded" class="loader-container">
                <img class="loader" src="~/images/logo.png">
            </div>
            @*fix v-if="!loaded" to work with collapse*@
            <div class="container" v-show="!loaded">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title text-center" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                                        <h3>
                                            <a type="button" style="float: left;" class="caret-toggle">
                                                <img src="~/svg/caret.svg" class="caret-icon">
                                            </a>
                                            Reviews
                                        </h3>
                                    </div>
                                    <div class="collapse" id="collapseReview">
                                        <div class="index-scroll" v-if="movies.length > 0">
                                            <div class="container" v-for="movie in movies" :key="movie.id">
                                                <div class="row">
                                                    <div class="col">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr class="no-border" v-on:click="openReview(movie)">
                                                                    <td><p class="fs-5">{{ movie.title }}</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div v-if="selectedMovie && selectedMovie.id === movie.id" class="custom-modal">
                                                    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <div class="title-link">
                                                                        <strong>Review of&nbsp;</strong>
                                                                        <a :href="`/movie/searchmovie?name=${(selectedMovie.title)}`">
                                                                            <strong style="color: black;">{{ selectedMovie.title }} </strong>
                                                                            <img src="~/svg/link.svg" class="link-svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modalContent modal-content">
                                                                <div class="modal-header">
                                                                    <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/original' + movie.poster_path" alt="Movie Poster">
                                                                    <div class="container"><p>{{ selectedMovie.overview }}</p></div>

                                                                </div>
                                                                <textarea class="text-area" id="editTextArea" v-model="selectedMovie.reviewText"></textarea>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn" v-on:click="editReview(selectedMovie.id)"><img src="svg/save.svg"></button>
                                                                    <button type="button" class="btn" v-on:click="deleteReview(selectedMovie.id)"><img src="svg/trash.svg"></button>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="closeModal()" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <p class="fs-2 opacity-50 fst-italic">Empty</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title text-center" data-toggle="collapse" data-target="#collapseWatchlist" aria-expanded="false" aria-controls="collapseWatchlist" class="caret-toggle">
                                        <h3>
                                            <a type="button" style="float: left;">
                                                <img src="~/svg/caret.svg" class="caret-icon">
                                            </a>
                                            Watchlist
                                        </h3>
                                    </div>
                                    <div class="collapse" id="collapseWatchlist">
                                        <div class="index-scroll" v-if="watchlists.length > 0">
                                            <div class="container" v-for="watchlist in watchlists" :key="watchlist.id">
                                                <div class="row">
                                                    <div class="col">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr v-on:click="openWatchlist(watchlist)">
                                                                    <td><p class="fs-5">{{ watchlist.title }}</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div v-if="selectedMovie && selectedMovie.id === watchlist.id" class="custom-modal">
                                                    <div class="modal fade" id="watchlistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <div class="title-link">
                                                                        <a :href="`/movie/searchmovie?name=${(selectedMovie.title)}`">
                                                                            <strong style="color: black;">{{ selectedMovie.title }} </strong>
                                                                            <img src="~/svg/link.svg" class="link-svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modalContent modal-content">
                                                                <div class="modal-header">
                                                                    <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/original' + watchlist.poster_path" alt="Movie Poster">
                                                                    <div class="container"><p>{{ selectedMovie.overview }}</p></div>
                                                                    
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn" v-on:click="deleteWatchlist(selectedMovie.id)"><img src="svg/trash.svg"></button>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="closeModal()" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <p class="fs-2 opacity-50 fst-italic">Empty</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title text-center" data-toggle="collapse" data-target="#collapseAvoid" aria-expanded="false" aria-controls="collapseAvoid">
                                        <h3>
                                            <a type="button" style="float: left;" class="caret-toggle">
                                                <img src="~/svg/caret.svg" class="caret-icon">
                                            </a>
                                            Movies To Avoid
                                        </h3>
                                    </div>
                                    <div class="collapse" id="collapseAvoid">
                                        <div class="index-scroll" v-if="avoids.length > 0">
                                            <div class="container" v-for="avoid in avoids" :key="avoid.id">
                                                <div class="row">
                                                    <div class="col">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr v-on:click="openAvoid(avoid)">
                                                                    <td><p class="fs-5">{{ avoid.title }}</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div v-if="selectedMovie && selectedMovie.id === avoid.id" class="custom-modal">
                                                    <div class="modal fade" id="avoidModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <div class="title-link">
                                                                        <a :href="`/movie/searchmovie?name=${(selectedMovie.title)}`">
                                                                            <strong style="color: black;">{{ selectedMovie.title }} </strong>
                                                                            <img src="~/svg/link.svg" class="link-svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modalContent modal-content">
                                                                <div class="modal-header">
                                                                    <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/original' + avoid.poster_path" alt="Movie Poster">
                                                                    <div class="container"><p>{{ selectedMovie.overview }}</p></div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn" v-on:click="deleteAvoid(selectedMovie.id)"><img src="svg/trash.svg"></button>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="closeModal()" aria-label="Close"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <p class="fs-2 opacity-50 fst-italic">Empty</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title text-center" data-toggle="collapse" data-target="#collapseRandom" aria-expanded="false" aria-controls="collapseRandom">
                                        <h3>
                                            <a type="button" style="float: left;" class="caret-toggle">
                                                <img src="~/svg/caret.svg" class="caret-icon">
                                            </a>
                                            Random Movie!
                                        </h3>
                                    </div>
                                    <div class="collapse" id="collapseRandom">
                                        <div class="container">
                                            <div class="row">

                                                <div class="col d-flex justify-content-center">
                                                    <a type="button" v-on:click="fetchRandomMovie(randomMovie)">
                                                        <img src="~/svg/dice.svg">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    <a :href="`/movie/searchmovie?name=${randomMovie.title}`">
                                                        <h1 class="random-title">{{ randomMovie.title }}</h1>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; left: 0; bottom: 0; padding-left: 16px;">
                    <p id="manage" @*asp-area="Identity" asp-page="/Account/Manage/Index"*@ title="Manage">Logged in as @UserManager.GetUserName(User)</p>
                </div>
            </div>

        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="display-4">Welcome to Couch Potato! Your new movie diary.</p>
                        <p class="display-4">Search for movies.</p>
                        <p class="display-4"> Create watchlists, reviews and much more.</p>
                    </div>
                </div>
            </div>
        }

    </div>
</body>


